.headerDefault {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  text-align: center;

  &:hover {
    transform: scale(1.1);
  }
}

.button {
  background: none;
  border: none;
}