@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background: linear-gradient(135deg, #0d0d0d, #1c1c1c, #2b2b2b, #1a1a1a);
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: "Abel", sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-size: 400% 400%;
        animation: gradientAnimation 12s ease infinite;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-size: 500% 500%;
        animation: gradientAnimation 16s ease infinite;
    }
}
